<form class="form create-form">
  <div class="form-group">
    <label for="user-create">Username:</label>
    <input class="form-input" type="text" id="user-create" />
  </div>
  <div class="form-group">
    <label for="password-create">Password:</label>
    <input class="form-input password" type="password" id="password-create" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create Account</button>
  </div>
</form>
<script src="/js/createAccount.js"></script>