<div class="row align-center mb-5">
  <div class="col-md-6">
    <div class="postContainer">
      <div class="postHeader">
        <h2 class="title">Post Title:</h2>
        <input type="text" id="post-create" />
      </div>
      <div class="content">
        <textarea name="content" id="content"></textarea>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Create Post</button>
    </div>

  </div>
</div>
<script src="/js/createPost.js"></script>