<h2>Create Post</h2>
<div class="row align-center mb-5">
  <div class="col-md-6">
      <form class="form create-form">
        <label for="post-create">Post Title:</label>
        <input class="form-input" type="text" id="post-create" />
        <div class="form-group">
          <textarea name="content-text" id="content-text" cols="60" rows="7"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Create Post</button>
        </div>
      </form>
  </div>
</div>
<script src="/js/createPost.js"></script>