<div class="row align-center mb-5">
  <div class="col-md-6">
    {{#each posts as |post|}}
      <div class="postContainer">
        <div class="postHeader">
          <h2 class="title"><a href="/blog/edit/{{post.id}}">{{post.title}}</a></h2>
          <p class="postby" style="padding-left: 10px;">Posted on {{post.formatted_date}}</p>
        </div>
        <div class="content">
          <textarea name="content" id="content" readonly>{{post.content}}</textarea>
        </div>
      </div>
    {{/each}}
  </div>
</div>