<form class="form login-form">
  <div class="form-group">
    <label for="user-login">Username:</label>
    <input class="form-input" type="text" id="user-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input password" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
  <div class="form-group">
    <p>Not a member?</p>
    <a href="/createAccount">CREATE AN ACCOUNT</a>
  </div>
</form>

<script src="/js/login.js"></script>